/*reset*/
* {
margin: 0;
}

html {
margin: 0;
}

body {
margin: 0;
}

body {
  font-family: Helvetica;
  background-color: #fafafa;
}
nav {
  background-color: black;
  height: 50px;
  line-height: 50px;
}
.nav-container {
  max-width: 350px;
  margin: auto;
}

h1 {
  color: white;
  max-width: 350px;
  margin: auto; 
  display: inline-block;
}
h1:hover {
  cursor: pointer;
}
.newTweet {
  text-align: center;
  border-radius: 5px;
  color: white;
  height: 25px;
  width: 25px;
  line-height: 25px;
  background-color: #7f7f7f;
  float: right; 
  margin-top: 12px;
  margin-right: 10px;
  display: block;
}
.newTweet:hover {
  cursor: pointer;
  background-color: #a2a2a2;
}
.tweets {
  max-width: 600px;
  margin: auto;
}

.tweet {
  max-width: 350px;
  margin: 0 auto;
  padding: 25px 0;
  border-top: 1px solid rgba(255,255,255,1);
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.tweet:nth-of-type(1)
{
  padding-top: 20px;
  border-top: none;
} 
.msg {
  font-size: 17px;
}
.username {
  font-weight: bold;
  font-size: 14px;
  margin-right: 7px;
}
.username:hover {
  cursor: pointer;
  text-decoration: underline;
}
.time {
  font-size: 13px;
  color: #7f7f7f;
}
